<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->


    <td th:each="job : ${jobs}" class="job-listing">
        <tr th:text="'ID: ' ${job.id} "></tr>
        <tr th:text="'Nane: ' ${job.name} "></tr>
        <tr th:text="'Employer: ' ${job.employer} "></tr>
        <tr th:text="'Location: ' ${job.location} "></tr>
        <tr th:text="'Postition Type: ' ${job.positionType} "></tr>
        <tr th:text="'Skill: ' ${job.coreCompetency} "></tr>
    </td>


</div>

</body>
</html>